body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(58, 130, 130);
  display: flex;
  justify-content: center;
}
h2 {
  text-align: left;
  background-color: rgb(236, 239, 202);
  padding: 5px;
  border: 2px solid black;
  margin: 0 350px 0 75px;
}
/* Pantry Items */
#canned {
  border: 3px solid black;
  width: 70%;
  padding-left: 15px;
  background-color: aliceblue;
  margin: 20px 40px 0px 75px;
}
#drygoods {
  border: 3px solid black;
  width: 198px;
  padding-left: 15px;
  background-color: aliceblue;
  margin: 20px 0px 18px 20px;
}
#Container {
  border: 3px solid black;
  width: 14%;
  margin: 20px 0px 20px 10px;
}
/* Freezer Items */
#veggies {
  border: 3px solid black;
  width: 70%;
  padding-left: 15px;
  background-color: aliceblue;
  margin: 20px 40px 0px 75px;
}
#snacks {
  border: 3px solid black;
  width: 60%;
  padding-left: 15px;
  background-color: aliceblue;
  margin: 20px 120px 0px 27px;
}
#Frozen {
  border: 3px solid black;
  width: 18.6%;
  margin: 20px 0px 10px -76px;
}
/* Flex Attempt */
.Freezer {
  display: flex;
}
.Pantry {
  display: flex;
}
